<div class="panel-heading vd_grey vd_bg-white control-search">
    <span class="menu-icon"> <i class="fa fa-search"></i> </span>
    <input ng-model="$$datatable.getView($$datatable.datatable).search"
           type="search"/>
    <button>Buscar</button>
    <button ng-show="$$datatable.getView($$datatable.datatable).search.length>0"
            ng-click="$$datatable.getView($$datatable.datatable).search=''"><i class="fa fa-times"></i></button>
</div>


<div id="content-table" class="panel-body-list  table-responsive">

    <table id="data-table" class="table table-head-fixed">
        <thead style="background: white; overflow: hidden">
        <tr>
            <th><i class="fa fa-user-circle" aria-hidden="true"></i></th>
            <th ng-repeat="column in $$datatable.getView($$datatable.datatable).columns">
                {{column.label}}
            </th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="data in $$datatable.getDatas($$datatable.datatable)"
            class="{{ $$datatable.isSelected($$datatable.datatable, data)?'selected':''  }}"
        >
            <td ng-click="$$datatable.selected($$datatable.datatable, data);"
                ng-right-click="$$datatable.onMenu($$datatable.datatable, data)"
            ><i class="fa fa-user-circle" aria-hidden="true"></i></td>
            <td ng-repeat="column in $$datatable.getView($$datatable.datatable).columns"
                ng-click="$$datatable.selectedUnic($$datatable.datatable, data);"
                ng-right-click="$$datatable.onMenu($$datatable.datatable, data)"
            >{{ $$datatable.getValue('persons', column.name, data) }}
            </td>
        </tr>

        </tbody>
    </table>
    <script>
        var theadClone = $('#data-table thead').clone();
        theadClone.addClass("theadclone");
        theadClone.css({"display": "none"});
        var showable = false;
        $('#data-table').append(theadClone);
        $("*").click(function () {
            if (!showable)
                $.wait(function () {
                    $('#context-menu-table').css({"display":"none"});
                }, 0.0);
        });

        $(document).on("scroll resize", function () {

            var i = 1;
            $('#data-table tbody tr:nth-child(1) td').each(function () {
                $('#data-table thead.theadclone tr th:nth-child(' + i + ')').css({"min-width": $(this)[0].offsetWidth + "px"}).width($(this).width());
                i++;
            });
            $('thead.theadclone').scrollLeft($("#content-table").scrollLeft());
            if ($(document).scrollTop() + $("header").height() > $('#data-table').offset().top && $(document).scrollTop() + $("header").height() < $('#data-table').offset().top + $('#data-table').width()) {
                $('thead.theadclone').width($('#content-table').width());
                $('thead.theadclone').css({
                    "position": "fixed",
                    "top": $("header").height() + "px",
                    "display": "block"
                });
                $("#content-table").scroll(function () {
                    $('thead.theadclone').scrollLeft($(this).scrollLeft());
                });
            } else {
                $('thead.theadclone').css({"display": "none"});
                $('.inter-table').css({"height": 0 + "px"});
            }
        });
    </script>
</div>

<div class="table-menu-nav  panel widget light-widget {{ $$datatable.getView($$datatable.datatable).selected.length>0? 'hide-menu':'show-menu'  }}">
    <a ng-repeat="item in $$datatable.getView($$datatable.datatable).menu"
       ng-if="item.always==true"
       ng-click="$$datatable.runAction($$datatable.datatable, item)"
       class="nav-link active"><i class="{{item.icon }}"></i>{{item.label}}</a>
</div>

<div class="table-menu-nav panel widget light-widget {{ $$datatable.getView($$datatable.datatable).selected.length>0? 'show-menu':'hide-menu'  }}">
    <div class="closed-menu">
        <a  ng-click="$$datatable.getView($$datatable.datatable).selected=[]">
        <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="label-menu">
        <span>{{ $$datatable.getLabelSelected($$datatable.datatable) }}</span>
    </div>
    <a ng-repeat="item in $$datatable.getMenu($$datatable.datatable, 'nav-object')"
       ng-click="$$datatable.runAction($$datatable.datatable, item)"
       class="nav-link active"><i class="{{item.icon }}"></i>{{item.label}}</a>
</div>