<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header vd_bg-white vd_black">
            <h2 class="modal-title" id="myModalLabel" ><strong ng-bind="$$form.get('modal').title">Modal title</strong></h2>

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal ">
                <div ng-repeat="control in $$form.get('modal').controls" class="form-group" style="{{ control.col !=undefined ?'width:'+(100/control.col)+'%; float:left':''}}" >
                    <div class=" col-sm-12 controls float-label" ng-if="control.type=='input'">
                        <input type="text" ng-model="control.value" class="input-border-btm {{ control.class }}"
                               ng-keydown="$$form.$control(control)"/>
                        <label for="{{control.name}}" onclick="$(this).prev( 'input' ).focus()" class="control-label label-float {{ control.labelclass }}" ng-bind="control.label">Nombre</label>
                        <label class="help-inline" ng-bind="control.message">Some hint here</label>
                    </div>
                </div>
                <div ng-repeat="control in $$form.get('modal').controls" class="form-group" style="{{ control.col !=undefined ?'width:'+(100/control.col)+'%; float:left':''}}" >
                    <div class=" col-sm-12 controls float-label" ng-if="control.type=='textarea'">
                        <textarea ng-model="control.value" class="input-border-btm autosize {{ control.class }}"
                               ng-keydown="$$form.$control(control)"></textarea>
                        <label for="{{control.name}}" onclick="$(this).prev( 'textarea' ).focus()" class="control-label label-float {{ control.labelclass }}" ng-bind="control.label">Nombre</label>
                        <label class="help-inline" ng-bind="control.message">Some hint here</label>
                        <script>
                            autosize($('textarea.autosize'));
                        </script>
                    </div>
                </div>
                <div ng-repeat="control in $$form.get('modal').controls" class="form-group" style="{{ control.col !=undefined ?'width:'+(100/control.col)+'%; float:left':''}}" >
                    <div class=" col-sm-12 controls float-label" ng-if="control.type=='select'">
                        <select ng-model="control.value" class="input-border-btm autosize {{ control.class }}"
                                  ng-keydown="$$form.$control(control)">
                            <option value=""></option>
                            <option ng-repeat="option in control.options"
                                    value="{{ option.value ? option.value:option}}">{{ option.label ? option.label:option }}</option>

                        </select>
                        <label for="{{control.name}}" onclick="$(this).prev( 'select' ).focus();$(this).prev( 'select' ).trigger('click');" class="control-label label-float {{ control.labelclass }}" ng-bind="control.label">Nombre</label>
                        <label class="help-inline" ng-bind="control.message">Some hint here</label>

                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer background-login">
            <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal" ng-bind="$$form.get('modal').cancel">Cancelar</button>
            <button type="button" class="btn vd_btn vd_bg-green" ng-bind="$$form.get('modal').submit">Aceptar</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->