<div class="col col-xs-12">
    <div class="panel vd_double-chart-widget light-widget widget">
        <div class="panel-body-list">
            <div class="vd_panel-menu">
                <div data-action="refresh" class="menu entypo-icon smaller-font"
                     data-placement="bottom" data-toggle="tooltip"
                     data-original-title="Refresh"><i class="icon-cycle"></i></div>
                <div class="menu entypo-icon smaller-font" data-placement="bottom"
                     data-toggle="tooltip" data-original-title="Config">
                    <div data-action="click-trigger" class="menu-trigger"><i
                                class="icon-cog"></i></div>
                    <div class="vd_mega-menu-content  width-xs-2  left-xs"
                         data-action="click-target">
                        <div class="child-menu">
                            <div class="content-list content-menu">
                                <ul class="list-wrapper pd-lr-10">
                                    <li><a href="#">
                                            <div class="menu-icon"><i
                                                        class=" fa fa-user"></i></div>
                                            <div class="menu-text">Panel Menu</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu entypo-icon" data-placement="bottom"
                     data-toggle="tooltip" data-original-title="Close"
                     data-action="close"><i class="icon-cross"></i></div>
            </div>
            <!-- vd_panel-menu -->


            <div class="pd-20">
                <h5 class="mgbt-xs-20 mgtp-20"><span class="menu-icon append-icon"><i
                                class="icon-graph"></i></span> <strong>Total Vs Non Paid
                        Visits</strong> (Last 30 Days) </h5>
                <div id="double-chart" style="height:255px; "></div>
            </div>
        </div>
    </div>
</div>

<div class="col col-xs-6">
    <div class="panel vd_double-chart-widget light-widget widget">
        <div class="panel-body-list">
            <div class="vd_panel-menu">
                <div data-action="refresh" class="menu entypo-icon smaller-font"
                     data-placement="bottom" data-toggle="tooltip"
                     data-original-title="Refresh"><i class="icon-cycle"></i></div>
                <div class="menu entypo-icon smaller-font" data-placement="bottom"
                     data-toggle="tooltip" data-original-title="Config">
                    <div data-action="click-trigger" class="menu-trigger"><i
                                class="icon-cog"></i></div>
                    <div class="vd_mega-menu-content  width-xs-2  left-xs"
                         data-action="click-target">
                        <div class="child-menu">
                            <div class="content-list content-menu">
                                <ul class="list-wrapper pd-lr-10">
                                    <li><a href="#">
                                            <div class="menu-icon"><i
                                                        class=" fa fa-user"></i></div>
                                            <div class="menu-text">Panel Menu</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu entypo-icon" data-placement="bottom"
                     data-toggle="tooltip" data-original-title="Close"
                     data-action="close"><i class="icon-cross"></i></div>
            </div>
            <!-- vd_panel-menu -->


            <div class="pd-20">
                <h5 class="mgbt-xs-20 mgtp-20"><span class="menu-icon append-icon"><i
                                class="icon-graph"></i></span> <strong>Total Vs Non Paid
                        Visits</strong> (Last 30 Days) </h5>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<script>

</script>