<div class="row" ng-click="data.un()">
    <div class="col col-md-6" ng-if="data.objects.length > 0" ng-repeat="(item, obj) in data.objects">
        <a href="javascript:void(0);" class="link-list" data-item="[[ item ]]"
           ng-click="data.on(obj)" ng-dblclick="data.onDbl(obj)">
            <div class="card text-left">


                <div class="card-block">
                    {#<div class="card-icon icon-[[ obj.type ]]' }}">
                    </div>#}
                    <div class="rounded float-left"
                         style="position: relative; transition: 0.4s all; background-image: url('[[ data.get(obj,'assent')? data.get(obj,'assent') : '{{ asset("img/event-none.jpg") }}' ]]')"
                         ng-init="initLoadImage(obj)">
                        <!--<div class="loader" ng-show="!mosaic.get(obj,'assent')"></div>-->
                    </div>
                    <div class="box-text">
                        <h4 class="card-title">[[data.get(obj,'name')]]</h4>
                        <p class="card-text">[[data.get(obj,'comment')]]</p>

                    </div>
                </div>
                <div ng-if="data.get(obj,'footer')!=undefined" class="card-footer text-muted">
                    <small ng-bind="data.get(obj,'footer')"></small>
                </div>
            </div>
        </a>

    </div>
    <div class="col col-md-12" ng-if="(data.objects.length < 1 || data.objects.length==undefined) && data.objects!=undefined">
        <div class="jumbotron well no-result">
            <h1 class="display-3">Sin resultados</h1>
            <p class="lead">Esta lista esta vacias</p>
            <hr class="my-4">
            <p>Para crear un nuevo elemento presione el boton <strong>Nuevo</strong> que se encuentra en la parte
                superio de la pagina.</p>
            <p class="lead">

            </p>
        </div>
    </div>
</div>